@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

body .bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -9;
    min-height: 100vh;
}


#navbar {
    background-color: #FFF1DA;
    backdrop-filter: blur(10px);
}

main {
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.hero-image {
    height: 80vh;
    width: 100vw;
    position: relative;
}

.hero-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.455) 0%,
            rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.436) 100%);
    pointer-events: none;
}

.hero-image img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.hero-image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Volkhov';
    font-size: 3rem;
    text-align: center;
    z-index: 99;
}

.hero-image p {
    font-size: 1.3rem;
    font-weight: 400;
}

.darjeeling-packages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3rem 3vw;
    text-align: center;
}

.darjeeling-packages .darjeeling-heading {
    text-align: center;
}

.darjeeling-packages .darjeeling-heading h4 {
    color: #5E6282;
}

.darjeeling-packages .darjeeling-heading h1 {
    font-family: "Volkhov";
}

.darjeeling-locations {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.darjeeling-locations .location-card {
    height: 30rem;
    width: 18rem;
    text-align: left;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.darjeeling-locations .location-card img {
    height: 35%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

.location-card h3 {
    font-family: "Volkhov";
    padding: 0rem 1rem;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.location-card>div {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.location-card>div>span {
    color: #5E6282;
    font-weight: 700;
}

.location-card ul {
    width: 100%;
    padding: .4rem 1.3rem;
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr;
}

.location-card ul li {
    font-size: .8rem;
    line-height: .8rem;
}

.location-card a button {
    width: 100%;
    height: 4rem;
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    background-color: #DF6951;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}